/*my site*/

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
    url('Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* general styling */

html {
    padding-bottom: 50px;
}

body {
    margin: 8px 0px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
}

a {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    border-bottom: 0.5px solid; 
}

a:hover {
    color: #B31B1B;
}

table.reg tr {
    text-align: left;
}

table.reg th {
    color: #B31B1B;
}

table.reg {
    width: 100%;
    margin: 0 auto;
}

hr {
    border-style: solid;
    border-color: #B31B1B;
    border-width: 0.5px;
}

h1 {
    font-size: 15px;
    line-height: 20px;
    font-style: italic; 
}


.alert {
    color: #B31B1B;
}

.responsive {
  width: 100%;
  height: auto;
}


img.resize {
  max-width:120%;
  max-height:120%;
}

/* header */


#name-div {
    width: 100%;
    text-align: left;
    margin-top: 6px;
    font-style: normal;
}

#name {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
}


/* main content */

#content ul {
    padding-left: 1.25em;
}


/* navigation menu */

#nav {
    text-align: left;
}

#nav ul {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
}

#nav ul > :first-child {
    border-top: 1px solid #eae9e6;
}

#nav ul li {
    padding: 0em 0em;
    border-bottom: 1px solid #eae9e6;
}

#nav a {
    color: black;
    border-bottom: none;
}

#nav a.current {
    color: #006699;
}

#reg-button {
	display: inline-block;
  	padding: 0.75em 1em;
	border-radius: 5pt;
  	background-color: #006699;
	color: #fff;
	font-weight: 700;
}

#reg-button:hover {
	opacity: 0.85;
	color: #fff;
}

#reg-button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}


/* media queries */

@media (min-width: 375px) {
    body {
        font-size: 16px;
    }
    #name {
        font-size: 20px;
    }
}

@media (min-width: 550px) {
    #name-div {
        width: 500px;
    }
    #name {
        font-size: 30px;
    }
    #content > :first-child {
        margin-top: 0em;
        padding-top: 0em;
    }
    #nav {
        text-align: left;
    }
    #nav ul li {
        padding: 1em 0em;
    }
    #nav ul > :first-child {
        margin-top: 0em;
        padding-top: 0em;
        border-top: none;
    }
    table.reg {
        width: 75%;
    }
}


/* grid */

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

.container:after,
.row:after {
    content: "";
    display: table;
    clear: both; }

table.announce {
    border-collapse:separate;
    border-spacing:0 15px;
}

table.announce td {
    padding: 0px 0px;
    margin: 0px;
    vertical-align: top;
}

table.announce tr {
    margin-bottom: 10px;
}

table.announce td.time {
    width: 70px;
    color: #cac9c8;
}
