/* Portfolio Header */

#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 1.25em;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
}

.portfolio-header-image {
/*  width: 100%; */
  width: 216px;
  height: auto;
  align-self: center;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
  text-align: justify;
}

.subheader-text {
  font-size: 20px;
  font-weight: 700;
}


/* Footer */
.footer-nav .page-link { color: #111; line-height: 1.5; }
.footer-nav .page-link:not(:last-child) { margin-right: 5px; }
.footer-col-3 {
    width: calc(35% - (30px /2));
}

/* Publications */
.pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
}

.pubauthors,
.pubinfo {
  font-size: 75%;
  margin-bottom: 0.75em;
}
.publinks {
  font-size: 75%;
}

/* Projects */
 
table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}
.proj-left {
    width: 20%;
    min-width: 120px !important;
/*    background-color: #0080ff;
    padding: 20px;  */
    text-align: center;
    color: #151515;
    font-family: Dinthin;
    font-size: 22px;
    line-height: 28px !important;
    font-weight: 800;
    padding: 10px;
    border: 1px solid #e8e8e8;
}
.proj-logo {
    display: block;
    padding: 0px;
}
.proj-right {
/*    padding: 25px !important;
    background-color: #f6f4f4; */
    height: auto;
    width: 85%;
    padding: 10px;
/*    font-family: Georgia; */
    line-height: 1.5em;
    vertical-align: top;
    border: 1px solid #e8e8e8;
}
.proj-card{
/*    font-size: 13px; */
    text-align: justify;
    display: flex;
    border: 1px solid #e8e8e8;
}
.proj-card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size:13px;
}
.proj-card-title {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 20px;
}

/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
/*
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 25px 275px;
  }
}
*/

/* Extra large devices (large laptops and desktops, 1200px and below) */
/*
@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 25px 175px;
  }
}
*/

/* Large devices (laptops/desktops, 1000px and below) */
/*
@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 25px 75px;
  }
}
*/

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 25px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }


  .project-card {
    max-width: calc((100% - 16px) / 2);
  }

  .proj-card {
    flex-direction: column;
  }

  .proj-left {
    width: auto;
  }

  .proj-right {
    width: auto;
  }

  .proj-logo {
    width: 50%;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 25px 20px;
  }

  .project-card {
    max-width: 100%;
  }
  .proj-card {
    max-width: 100%;
  }
}
/* MENU */

.ui-section-header--nav-link {
  font-size: var(--ui-typography-h3);
  padding: .5rem;
  text-decoration: none;
}
/* Project Section */

#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

    /* Project Cards */

    .project-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
/*      gap: 34px; */
      border: 1px solid #0080ff;
/*      padding: 10px; */
    }

    .project-card-text-container {
      flex-direction: column;
      display: flex;
/*      gap: 16px;
      background-color: #f6f4f4; */
    }

    .project-image {
/*      width: 100%;
      height: 200px; */
      object-fit: cover;
      object-position: center;
      padding:10px;
    }
.project-card-content {
    padding: 10px !important;
    background-color: #f6f4f4;
    height: auto;
/*    width: 85%;
    margin-bottom: 20px;
    font-family: Georgia;
    line-height: 1.5em; */
    vertical-align: top;
}
.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
